// Name fadeout - blur animation on home page

.anim {
  position: absolute;
  width: 17rem;
  color: white;
}
.name {
  font-size: 4rem;
  white-space: nowrap;
  overflow: hidden;
  width: 18rem;
  line-height: 1.3;
  padding: 0 1rem;
  animation: home-typing 2300ms steps(30, end) forwards;
}

.desc {
  padding-left: 3em;
  font-style: italic;
  opacity: 0;
  animation: home-fadein 500ms 1.5s 1 forwards;
}

$letters: 15;
@for $i from 0 through $letters {
  .l-name.letter-#{$i} {
    animation: whiteblur 6s ($i + 0.1) + 1s 1 ease forwards;
  }
}

$letters: 50;
@for $i from 0 through $letters {
  .l-desc.letter-#{$i} {
    animation: whiteblur2 3s ($i * 0.2) + 11 * 1s 1 forwards ease;
  }
}

@keyframes whiteblur {
  10% {
    text-shadow: 0;
    color: white;
  }
  30% {
    text-shadow: 0 0 20px white;
    color: transparent;
    opacity: 1;
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  70% {
    text-shadow: 0 0 20px white;
    color: transparent;
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    text-shadow: 0 0 20px white;
    color: transparent;
    transform: scale(0.3);
    opacity: 0;
  }
}


@keyframes whiteblur2 {
  0% {
    text-shadow: 0;
    color: white;
  }
  20% {
    text-shadow: 0 0 6px white;
    color: transparent;
    opacity: 1;
  }
  80% {
    text-shadow: 0 0 6px white;
    color: transparent;
    opacity: 1;
  }
  100% {
    text-shadow: 0 0 6px white;
    color: transparent;
    opacity: 0;
  }
}

@keyframes home-typing {
  from { width: 0 }
  to { width: 100 }
}

@keyframes home-fadein {
  from {
    opacity: 0;
    transform: translateY(-0.1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
