<!doctype html>
<html class="no-js" lang="{{ .Language }}">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    <link rel="apple-touch-icon" href="Logo_192.png">

    <script>
      async function supportsWebp() {
        if (!self.createImageBitmap) return false;

        const webpData = 'data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=';
        const blob = await fetch(webpData).then(r => r.blob());
        return createImageBitmap(blob).then(() => true, () => false);
      }

     document.addEventListener('DOMContentLoaded', () => {
       (async () => {
         if(await supportsWebp()) {
           document.querySelector('body').classList.add('has-webp');
         }
         else {
           document.querySelector('body').classList.add('no-webp');
         }
       })();
     });

     /*
     if ('serviceWorker' in navigator) {
       window.addEventListener('load', () => {
         navigator.serviceWorker.register('{{ .Site.BaseURL}}sw.js')
                  .then(registration => {
                    console.log('SW registration successful, scope: ', registration.scope);
                  }, err => {
                    console.log('SW registration failed: ', err);
                  });
       });
     }
     */
    </script>

    {{ $style := resources.Get "sass/site.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{$style.RelPermalink}}">
    <meta name="theme-color" content="#63125E">
    {{ block "head" . }}{{ end}}
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <a href="#content" title="Skip to content" class="show-on-focus bg-purple font-white">Skip to content</a>
    <div class="l-wrapper" data-barba="wrapper">
    {{ block "header" . }}
      {{ partial "navigation.html" . }}
    {{ end }}
      <div class="l-page" data-barba="container" data-barba-namespace="{{ .Slug }}-{{ .Lang }}">
        {{ block "main" . }}{{ end }}

        {{ block "footer" . }}
        {{ partial "footer.html" . }}
        {{ end }}
      </div>
    </div>

    {{ $barba := resources.Get "js/barba.dist.min.js" }}
    {{ $barba_css := resources.Get "js/barba-css.dist.min.js" }}
    {{ $vendor := slice $barba $barba_css | resources.Concat "js/vendor.js" }}
    <script type="text/javascript" src="{{ $vendor.RelPermalink }}"></script>

    {{ $script := resources.Get "js/main.js" }}
    <script  type="text/javascript" src="{{ $script.RelPermalink }}"></script>
  </body>
</html>
