<!doctype html>
<html class="no-js" lang="{{ .Language }}">
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="Logo_192.png">

    <script>
      async function supportsWebp() {
        if (!self.createImageBitmap) return false;

        const webpData = 'data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=';
        const blob = await fetch(webpData).then(r => r.blob());
        return createImageBitmap(blob).then(() => true, () => false);
      }

      (async () => {
        if(await supportsWebp()) {
          document.querySelector('body').classList.add('has-webp');
        }
        else {
          document.querySelector('body').classList.add('no-webp');
        }
      })();

      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('{{site.BaseURL}}sw.js').then(function(registration) {
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
    </script>

    {{ $style := resources.Get "sass/site.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{$style.RelPermalink}}">

    <meta name="theme-color" content="#63125E">
  </head>
  <body data-barba="wrapper">
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    {{ block "header" . }}
      <header class="header">
        <div class="menu">
          <a href="/" title="Feminizidmap.org">
            {{ readFile "themes/feminicide-theme/static/Feminizidmap-Logo.svg" | safeHTML }}
          </a>
          <!--<nav>
            <ul>
              <li><a href="/">{{ .Site.Params.navigation.project }}</a></li>
              <li><a href="#">{{ .Site.Params.navigation.publications }}</a></li>
              <li><a href="#">{{ .Site.Params.navigation.data }}</a></li>
            </ul>
          </nav>
          -->

          {{ partial "languageswitch.html" . }}
        </div>
        <h1>{{ .Title | safeHTML }}</h1>
      </header>
      {{ end }}
    <div class="main-container" data-barba="container" data-barba-namespace="{{ .Slug }}-{{ .Lang }}">
      {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </div>

    {{ block "footer" . }}
    <footer class="footer">
      <p>If you want to contribute to the documentation by reporting a case, you can report it to our email <a href="&#0109;&#097;&#0105;&#0108;&#0116;&#0111;&#058;&#0102;&#0101;&#0109;&#0105;&#0110;&#0105;&#0122;&#0105;&#0100;&#097;&#0108;&#0101;&#0114;&#0116;&#0115;&#064;&#0119;&#0101;&#098;&#046;&#0100;&#0101;">&#0102;&#0101;&#0109;&#0105;&#0110;&#0105;&#0122;&#0105;&#0100;&#097;&#0108;&#0101;&#0114;&#0116;&#0115;&#064;&#0119;&#0101;&#098;&#046;&#0100;&#0101;</a><br><br>
      If you think that you can and want to collaborate, or, if you want to network with us, or for any other purposes, you can contact us to our email <a href="&#0109;&#097;&#0105;&#0108;&#0116;&#0111;&#058;&#0102;&#0101;&#0109;&#0105;&#0110;&#0105;&#0122;&#0105;&#0100;&#0109;&#097;&#0112;&#064;&#0112;&#0114;&#0111;&#0116;&#0111;&#0110;&#0109;&#097;&#0105;&#0108;&#046;&#099;&#0111;&#0109;">&#0102;&#0101;&#0109;&#0105;&#0110;&#0105;&#0122;&#0105;&#0100;&#0109;&#097;&#0112;&#064;&#0112;&#0114;&#0111;&#0116;&#0111;&#0110;&#0109;&#097;&#0105;&#0108;&#046;&#099;&#0111;&#0109;</a><br><br>
      <a href="/">Imprint</a>
      </p>
    </footer>
    {{ end }}

    {{ $barba := resources.Get "js/barba.dist.min.js" }}
    {{ $barba_css := resources.Get "js/barba-css.dist.min.js" }}
    {{ $vendor := slice $barba $barba_css | resources.Concat "js/vendor.js" }}
    <script type="text/javascript" src="{{ $vendor.RelPermalink }}"></script>

    {{ $script := resources.Get "js/main.js" }}
    <script  type="text/javascript" src="{{ $script.RelPermalink }}"></script>
  </body>
</html>
