{{ define "main" }}
<header class="page-header">
  <div class="page-logo">
    <a href="{{.Site.BaseURL}}" title="Feminizidmap.org" id="logo">
      {{ readFile "themes/feminicide-theme/static/Feminizidmap-Logo-Black.svg" | safeHTML }}
    </a>
  </div>
  <h1 class="page-title">{{ .Page.Slug }}</h1>
</header>
<main class="page-main">
  <section>
    <h2>{{ .Params.intro }}</h2>
    <ul class="c-tilelist">
      {{ range sort $.Site.Data.publications "title" }}
      {{ if eq .project_related false}}
      <li>
        <p>{{.title}}</p>
        <p>{{.authors}}</p>
        <p>{{.year}}</p>
        <p>{{.link}}</p>
      </li>
      {{ end }}
      {{ end }}
    </ul>
    <section>
      <h3>{{ .Params.project_related }}</h3>
      {{ range $.Site.Data.publications }}
      {{ if eq .project_related true}}
      <li>
        <p>{{.title}}</p>
        <p>{{.authors}}</p>
        <p>{{.year}}</p>
        <p>{{.link}}</p>
      </li>
      {{ end}}
      {{ end }}
    </section>
  </section>

  <section class="font-sans page-highlight">
    {{ .Content }}
  </section>
</main>
{{ end }}
