{{ define "main" }}
<header class="page-header">
    <div class="page-logo">
        <a href="{{.Site.BaseURL}}" title="Feminizidmap.org" id="logo">
            {{ readFile "themes/feminicide-theme/static/Feminizidmap-Logo-Black.svg" | safeHTML }}
        </a>
    </div>
    <h1 class="page-title">{{ .Page.Slug }}</h1>
</header>
<main class="page-main">
    <section>
        <h2>{{ .Title }}</h2>
        {{ .Content }}

        {{ $pages := where site.RegularPages "Type" "blog" }}
        {{ $paginator := .Paginate $pages }}

        <ul>
            {{ range $paginator.Pages }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> by {{ .Params.author }} on {{ .PublishDate.Format "Jan. 2, 2006" }}</li>
            {{ end }}
        </ul>

        {{ template "_internal/pagination.html" . }}

        </section>
    </section>
</main>
{{ end }}
