{{ define "main" }}
<header class="page-header">
  <div class="page-logo">
    <a href="{{.Site.BaseURL}}" title="Feminizidmap.org" id="logo">
      {{ readFile "themes/feminicide-theme/static/Feminizidmap-Logo-Black.svg" | safeHTML }}
    </a>
  </div>
  <p class="page-title">
      by  {{ .Params.author }}<br>
      Published {{ .PublishDate.Format "Jan. 2, 2006" }}<br>
      {{ if isset .Params "Lastmod" }}
      Last updated: {{ .Lastmod.Format "Jan 2, 2006" }}
      {{ end }}
  </p>
</header>
<main class="page-main format-blog">
  {{ .Content }}
</main>
{{ end }}
