{{ define "main" }}
<header class="page-header">
  <div class="page-logo">
    <a href="{{.Site.BaseURL}}" title="Feminizidmap.org" id="logo">
      {{ readFile "themes/feminicide-theme/static/Feminizidmap-Logo-Black.svg" | safeHTML }}
    </a>
  </div>
  <h1 class="page-title">{{ .Page.Slug }}</h1>
</header>
<main class="page-main">
  <section>
    <h2>{{ .Params.intro }}</h2>
    <ul class="c-tilelist">
      {{ $lang := .Lang }}
      {{ range sort $.Site.Data.researchers "name" }}
      {{ if eq .active true}}
      <li>
        <h3>{{.name}}</h3>
        {{ if eq $lang "en"}}
        <p>{{.text_en | markdownify}}</p>
        {{ else }}
        <p>{{.text_de | markdownify}}</p>
        {{ end }}
      </li>
      {{ end }}
      {{ end }}
    </ul>
    <section>
      <h3>{{ .Params.thanks }}</h3>
      {{ range sort $.Site.Data.researchers "name" }}
      {{ if eq .active false}}
      <p>{{ .name }}</p>
      {{ end}}
      {{ end }}
    </section>
  </section>

  <section class="font-sans page-highlight">
    {{ .Content }}
  </section>
</main>
{{ end }}
