.show-on-focus {
  margin: 0;
  clip: rect(1px,1px,1px,1px);
  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}
.show-on-focus, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
