*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --timing: 0.25s;
  --bezier: cubic-bezier(0.215, 0.61, 0.355, 1);
  --unit-maxwidth-text: 35em;
  --unit-line-height: 1.4em;
  --unit-font-large: 1.4rem;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: $font-serif;
}

blockquote {
  padding: 0;
  margin: 0;
}

// resets ??
