@font-face {
    font-family: "Blanco-Regular";
    src: url("fonts/Blanco-Regular.eot?") format("eot"),
         url("fonts/Blanco-Regular.woff2") format("woff2"),
         url("fonts/Blanco-Regular.woff") format("woff")
}


@font-face {
    font-family: "Stabil";
    src: url("fonts/StabilGrotesk-Regular.woff") format("woff"),
    url("fonts/StabilGrotesk-Regular.woff2") format("woff2")
}

