.l-footer {
  padding: 1rem;
  background: rgb(99,18,94);
  background: linear-gradient(333deg, rgba(99,18,94,1) 22%, rgba(198,121,250,1) 100%);
  background-position: 50% 50%;
  background-size: cover;
  font-family: $font-sans;
  letter-spacing: 0;

  p, nav {
    font-size: 1.2;
    line-height: 1.25em;
  }

  a, a:active, a:visited {
    border-bottom: 2px solid transparent;
    color: white;
    text-decoration: none;
  }

  a:focus, a:hover, a:active:focus, a:active:hover, a:visited:focus, a:visited:hover {
    border-bottom: 2px solid;
    border-color: white;
    transition: all ease .3s;
  }
}

.no-webp .l-footer {
  background-image: url("/bg-gradient-02-1280.png");
}

.has-webp .l-footer {
  background-image: url("/bg-gradient-02.webp");
}

@media screen and (min-width: 1024px) {
  .l-footer {
    padding: 6rem 8rem;

    p, nav {
      max-width: 45rem;
      font-size: 2rem;
      line-height: 1.3em;
    }

    nav {
      margin-top: 6rem;
    }
  }
}
