.c-section {
  min-height: 75vh;
  padding: 3rem 0 5rem 1rem;
  @media screen and (min-width: $break-l) {
    min-height: 85vh;
    padding: 5rem 3rem 10rem 8rem;
  }
  &.bg-white {
    a {
      color: #neon-purple;
      text-decoration: none;
    }
  }
}

.c-section__inner {
  @media screen and (min-width: $break-l) {
    max-width: 70rem;
  }
}
.bg-black {
  background-color: black;
}
.bg-black-purple {
  background-color: $black-purple;
}
.bg-purple {
  background-color: $neon-purple;
}
.font-white {
  color: white;
}
.font-sans {
  font-family: $font-sans;
}
.h1 {
  letter-spacing: .025em;
  margin-top: 2rem;
  font-size: 3.35rem;
  line-height: 1.15;
  font-weight: normal;
}

.size-mid {
  font-size: 1.6rem;
}

.header {
  padding-top: 3rem; // !
  background-color: $dark-purple;
  background-image: linear-gradient(13deg, rgba(0,0,0,1) 22%, rgba(99,18,94,1) 80%);
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}

.no-webp .header {
  background-image: url("/bg-gradient-01-1280.png");
}

.has-webp .header {
  background-image: url("/bg-gradient-01.webp");
}

.facts {
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("/bg-facts-01-2x.png");
}

.murder {
  min-height: 75vh;
  padding: 3rem 0 5rem 1rem;
  @media screen and (min-width: $break-l) {
    min-height: 85vh;
    padding: 0 0 10rem 10rem;
  }
  .h1 {
    font-size: 4rem;
    @media screen and (min-width: $break-l) {
      grid-column: 1 / span 5;
      font-size: 6.5rem;
      line-height: 1;
    }
    grid-row-start: 2;
  }
  .text {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8;
  }
  .c-section__inner {
    @media screen and (min-width: $break-l) {
      max-width: none;
      margin-left: -3rem;
      display: grid;
      grid-template-columns: 3rem 1fr 1fr  1fr 1fr 1fr 1fr;
      grid-template-rows: 3rem 10rem 8rem 5rem 15rem 5rem 5rem 5rem 1fr;
    }
  }
}

.c-caselist {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.c-case {
  flex: 0 1 48px;
  height: 62px;
  margin: 0 .3rem 0.3rem 0;
  background-color: grey;
}

.c-portrait {
  background-size: cover;
  background-position: center;
  @media screen and (max-width: $break-l) {
    display: none;
  }
  &.a {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    background-image: url("/bg-potrait-01-2x.png");
  }
  &.b {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url("/bg-potrait-02-2x.png");
  }
  &.c {
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 6;
    background-image: url("/bg-potrait-03-2x.png");
  }
}
.c-label {
  &.a {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
  }
  &.b {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
  }
  &.c {
    grid-column-start: 7;
    grid-column-end: 7;
    grid-row-start: 3;
  }
}

// SVG animations
.strike-through {
    .strike-through-line {
      stroke-dasharray: 5000;
      stroke-dashoffset: 5000;
      animation: strike-through 2s ease-in-out;
      animation-fill-mode: forwards;
      animation-play-state: paused;
    }
    &.is-active .strike-through-line {
      animation-play-state: running;
    }
}

@keyframes strike-through {
  to {
    stroke-dashoffset: 0;
  }
}

// Name animations
.anim {
  width: 17rem;
  color: white;
}
.name {
  font-size: 4rem;
  white-space: nowrap;
  overflow: hidden;
  width: 18rem;
  line-height: 1.3;
  padding: 0 1rem;
  animation: home-typing 2300ms steps(30, end) forwards;
}

.desc {
  padding-left: 3em;
  font-style: italic;
  opacity: 0;
  animation: home-fadein 500ms 1.5s 1 forwards;
}

$letters: 15;
@for $i from 0 through $letters {
  .l-name.letter-#{$i} {
    animation: whiteblur 6s ($i + 0.1) + 1s 1 ease forwards;
  }
}

$letters: 50;
@for $i from 0 through $letters {
  .l-desc.letter-#{$i} {
    animation: whiteblur2 3s ($i * 0.2) + 11 * 1s 1 forwards ease;
  }
}

@keyframes whiteblur {
  10% {
    text-shadow: 0;
    color: white;
  }
  30% {
    text-shadow: 0 0 20px white;
    color: transparent;
    opacity: 1;
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  70% {
    text-shadow: 0 0 20px white;
    color: transparent;
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    text-shadow: 0 0 20px white;
    color: transparent;
    transform: scale(0.3);
    opacity: 0;
  }
}


@keyframes whiteblur2 {
  0% {
    text-shadow: 0;
    color: white;
  }
  20% {
    text-shadow: 0 0 6px white;
    color: transparent;
    opacity: 1;
  }
  80% {
    text-shadow: 0 0 6px white;
    color: transparent;
    opacity: 1;
  }
  100% {
    text-shadow: 0 0 6px white;
    color: transparent;
    opacity: 0;
  }
}

@keyframes home-typing {
  from { width: 0 }
  to { width: 100 }
}

@keyframes home-fadein {
  from {
    opacity: 0;
    transform: translateY(-0.1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
