$nav-width: 28rem;
$nav-preview: 3rem;

.l-wrapper {}

.l-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-width;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 3rem 0rem 3rem 3rem;
  transition: transform 250ms ease-in-out;
  transform: translateX(-$nav-width + $nav-preview);
  @media screen and (max-width: $nav-width) {
    transform: translateX(-16rem);
    width: 20rem;
  }
  &.is-active {
    transform: translateX(0);
  }
}

.l-page {
  width: 100%;
  padding-left: $nav-preview;
  transition: padding-left 250ms ease-in-out;
  .is-active + & {
    padding-left: $nav-width;
  }
  main {
    font-family: $font-serif;
    margin: 2rem 1rem 6rem 1rem;
    @media screen and (min-width: $break-l) {
      max-width: 38rem;
      margin: 0 0 8rem 8rem;
    }
    h1, h2, h3, h4 {
      font-family: $font-sans;
      font-weight: normal;
      line-height: 1.15;
    }
    h1 {
      font-size: 3rem;
      margin: 0 0 1.7rem 0;
      @media screen and (min-width: $break-l) {
        font-size: 3.9rem;
        margin: 0 0 2.5rem 0;
      }
    }
    h2 {
      font-size: 3rem;
      margin: 3.5rem 0 1.5rem 0;
      @media screen and (min-width: $break-l) {
        font-size: 3.3rem;
        margin: 5rem 0 2rem 0;
      }
    }
    h3, h4 {
      color: $neon-purple;
      font-size: 2rem;
      margin: 4rem 0 1rem 0;
    }
    a, a:visited {
      color: $grey-dark;
      text-decoration: none;
      transition: all color 0.2s ease;
    }
    a:hover {
      color: $neon-purple;
    }
  }
}


@media screen and (min-width: $break-s){

.intro{
    max-width: 50rem;
    margin: 3rem 1rem 3rem 1rem;

    h3 {
      font-family: $font-serif;
      font-weight: normal;
      font-size: 1.85rem;
      line-height: 1.25;
    }
  }
}


@media screen and (min-width: $break-l){
  .intro{
    max-width: 46rem;
    margin: 5rem 0 3rem 14rem;

    h3 {
      font-size: 2.25rem;
      line-height: 1.2;
    }
  }
}
