.l-wrapper {
  display: flex;
}


.l-page {

}

.l-navigation {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 3rem 0rem 3rem 0rem;
}

.main-container {

}

.bg-black {
  background-color: black;
}
.bg-purple {
  background-color: $neon-purple;
}

.font-white {
  color: white;
}


@media screen and (min-width: 320px){

.intro{
    max-width: 50rem;
    margin: 3rem 1rem 3rem 1rem;

    h3 {
      font-family: $font-serif;
      font-weight: normal;
      font-size: 1.85rem;
      line-height: 1.25;
    }
  }

  main {
    flex: 1;
    font-family: $font-serif;
    color: $grey-dark;
    margin: 2rem 1rem 6rem 1rem;

    h1, h2, h3, h4 {
      font-family: $font-sans;
      font-weight: normal;
      color: $neon-purple;
    }

    h2 {
      font-size: 3rem;
      line-height: 1.15;
      margin: 3.5rem 0 1.5rem 0;
    }

    a, a:visited {
    color: $grey-dark;
    text-decoration: none;
    transition: all color 0.2s ease;
    }

    a:hover {
      color: $neon-purple;
    }
  }
}


@media screen and (min-width: 1024px){

  .intro{
    max-width: 46rem;
    margin: 5rem 0 3rem 14rem;

    h3 {
      font-size: 2.25rem;
      line-height: 1.2;
    }
  }

  main {
    max-width: 38rem;
    margin: 0 0 8rem 14rem;


    h2 {
      font-size: 3.3rem;
      line-height: 1.15;
      margin: 5rem 0 2rem 0;
    }
  }
}

// Fallback styles when JS is not available

.no-js {
  .l-wrapper {
    flex-direction: column;
  }
  .c-menu li {
    display: inline-block;
    margin-right: 3rem;
  }
  .c-toggle {
    display: none;
  }
}
