*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: $font-serif;
}

blockquote {
  padding: 0;
  margin: 0;
}

// resets ??
