$grey-dark: rgba(0,0,0,0.8);
$grey-mid: #696F7E;
$neon-purple: #9F00FF;
$dark-purple: #63125E;


//Typography
$font-sans:  'Stabil',  -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-serif: 'Blanco-Regular', Georgia, serif;
$font-letterspacing: 0.02em;
$font-size-small: 80%;