$color-black: #181B22;
$color-dark: rgba(0,0,0,0.8);
$color-mid: #696F7E;
$color-light: #DBD7E4;
$color-accent: #9F00FF;


//Typography
$font-sans:  'Stabil',  -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$font-serif: 'Blanco-Regular', Georgia, serif;
$font-letterspacing: 0.02em;
$font-size-small: 80%;