.header {
  min-height: 75vh;
  padding: 1rem;
  background-color: $dark-purple;
  background-image: linear-gradient(13deg, rgba(0,0,0,1) 22%, rgba(99,18,94,1) 80%);
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;

  h1 {
    font-family: $font-serif;
    color: white;
    letter-spacing: .025em;
    margin-top: 16rem;
    font-size: 3.35rem;
    line-height: 1.15;
    font-weight: normal;
  }

  .menu {
    display: grid;
    grid-template-columns: 8fr 1fr;
    color: white;
    font-size: 13px;
    letter-spacing: .025em;
    font-family: $font-sans;
    text-transform: uppercase;

    .language-switch {
      text-align: right;

      a, a:active, a:visited {
        border-bottom: 1px solid transparent;
        color: white;
        text-decoration: none;
      }

      a:focus, a:hover, a:active:focus, a:active:hover, a:visited:focus, a:visited:hover {
        border-bottom: 1px solid;
        border-color: white;
        transition: all ease .3s;
      }
    }

    ul >li {
      display: inline;
      padding: .75rem;
    }
  }
}

.no-webp .header {
  //background-image: url("");
}

.has-webp .header {
  background-image: url("/bg-gradient-01.webp");
}

@media screen and (min-width: 1024px){
  .header{
    min-height: 95vh;
    padding: 2rem;

    h1 {
      max-width: 38rem;
      margin-top: 16rem;
      margin-left: 7rem;
      font-size: 4.5rem;
      line-height: 1.15;
    }

    .menu {
      display: grid;
      grid-template-columns: 8fr 1fr;
      color: white;
      font-size: 13px;

    }
  }
}
