*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  height: 100vh;
  font-size: 19px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}


// resets ??
